.d-emoji {
    display: inline;    /* added to make sure emojis aren't on a new page */
    object-fit: contain;
    width: 1.320em;
    height: 1.320em;
    vertical-align: middle; /* discord css is bottom but middle looks better */
}

.blockquoteContainer {
    display: flex;
}

.blockquoteDivider {
    background-color: rgb(79 84 92);
}

.blockquoteContainer .blockquoteDivider {
    width: 4px;
    border-radius: 4px;
}

.blockquoteContainer blockquote {
    padding: 0 8px 0 12px;
    box-sizing: border-box;
    text-indent: 0;
}

.d-mention {
    border-radius: 3px;
    padding: 0px;
    color: hsl(236,83.3%,92.9%);
    background: hsla(235,85.6%,64.7%,0.3);
}

.message-group .comment .markup span {
    display: inline-block;
    vertical-align: bottom;
    padding: 0px;
}

.message-group .comment .markup code.inline {
    display: inline-block !important;
    vertical-align: middle !important;
}

.media {
    max-width: 560px !important;
    max-height: 400px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}